.footer {
    min-height: 200px;
    background: #151515;

    display: flex;
    justify-content: center;
    align-items: center;
    h2{
        color: aliceblue;
        letter-spacing: .2em;
    }
}